body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Garamond, serif;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 50px;
    letter-spacing: -0.5px;
}

.hero {
    background-color: blueviolet;
    height: 100vh;
    color: white;
    text-align: center;
    /* flex box to center x and y */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1,
.hero p {
    width: 75%;
    max-width: 900px;
    margin: 16px 0;
}

.hero hr {
    width: 50%;
    margin: 32px 0;
}
.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
}

.info {
    text-align: center;
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: 14px;
}

.info span {
    color: orangered
}

.strap {
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: 40px 0;
    font-size: 18px;
}

.quote {
    font-style: italic;
    font-size: 14px;
    border-left: 2px solid orangered;
    padding-left: 16px;
    margin: 32px 0 32px 32px;
}

.quote cite {
    display: block;
    font-weight: bold;
    margin-left: 20px;
}

code {
    color: orangered;
    font-weight: bold;
}

footer {
    background-color: blueviolet;
}

footer ul {
    list-style: none;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 28px 0;
    text-align: center;
}

footer ul li {
    display: inline;
    padding: 0 16px;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    text-decoration: underline;
}